body{
    background-color: #a7dbe3;
    background-image: url(../assets/images/fabric.webp);
    color: #2f4c5c;
    font-size: 21px;    
    font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif; 
}

h1{
    font-size: 70px;
    color: #3447b3;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 0px;
}

h2{
    margin-top: 0px;
}

p{
    margin-top: 0px;
    margin-bottom: 20px;
    line-height: 1.4;    

    color: firebrick;
}

a{
    color: black;
}

#firsta{
    text-decoration: none;
}

/* MUST BE IN THIS ORDER TO WORK PROPERLY */

/* pseudo class */
a:link{
    color: blue;
}

a:visited{
    color: black;    
}

a:hover{
    color: yellow;
    
}

/* pressing tabs (accessibility issues) */
a:focus{
    color: orange;
    font-family: sans-serif;
    
}

/* when clicked */
a:active{
    color: indianred;
}

p, h1{
    color: green;
}

.body-text{
    background-color: #79acd1;
    padding: 50px;
}

.body-text p{
    color:white;
}

.body-text a{
    color: #d179cc;
}

.body-text a:hover{
    color: #DDD;
}

/* https://specificity.keegan.st/ */
/* this ! will overrule css rules (last case scenario) */
.important-link{
    color:yellow !important;
}